[submodule "BEERS_UTILS"]
	path = BEERS_UTILS
	url = https://github.com/itmat/BEERS_UTILS.git
	branch = main
[submodule "CAMPAREE"]
	path = CAMPAREE
	url = https://github.com/itmat/CAMPAREE.git
	branch = main
